---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors
        method: GET
      response:
        body: '[{"id":115746,"name":"test-monitor","url":"https://httpstat.us/200","uuid":"mon_u4caULGi4rO2XR","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london"],"check_frequency":60,"follow_redirects":true,"expected_status_code":"2xx","request_body":"","request_headers":null,"status":"up","ssl_expiration":27,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null},{"id":115934,"name":"[TEST]-StatusPage-Monitor","url":"https://httpstat.us/200","uuid":"mon_fkvswafYt2nOG6","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":false,"port":null,"http_method":"GET","regions":["frankfurt","california","saopaulo","paris","mumbai","seoul","london","toronto","sydney","tokyo","singapore","bahrain","amsterdam","virginia","nyc","sanfrancisco","capetown","bangalore"],"check_frequency":60,"follow_redirects":true,"expected_status_code":"2xx","request_body":"","request_headers":null,"status":"down","ssl_expiration":-20494,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null},{"id":115935,"name":"[PROD]-Database-Health","url":"https://api.example.com/internal/db-health","uuid":"mon_HVL4JwlAh2LBH4","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":false,"port":null,"http_method":"POST","regions":["london","frankfurt"],"check_frequency":60,"follow_redirects":true,"expected_status_code":200,"request_body":"{\"check_type\":\"connection_pool\",\"timeout\":5}","request_headers":[{"name":"Content-Type","value":"application/json"},{"name":"X-Internal-Token","value":"internal-check-token"}],"status":"down","ssl_expiration":-20494,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null},{"id":115936,"name":"[STAGING]-API-Health","url":"https://staging-api.example.com/health","uuid":"mon_GcJl8vygAB0O8n","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":false,"port":null,"http_method":"GET","regions":["london"],"check_frequency":300,"follow_redirects":true,"exp[...]
    - id: 1
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v3/incidents
        method: GET
      response:
        body: '[{"uuid":"inci_JrzGlF1frfsJiH","date":"2026-02-09T09:22:19.000Z","title":{"en":"[v1.0.6-TEST] Incident with Dependencies"},"type":"incident","affectedComponents":[],"statuspages":[],"updates":[]},{"uuid":"inci_bp0jxKyQBBeVaf","date":"2026-02-09T09:22:19.000Z","title":{"en":"[v1.0.6-TEST] Basic Incident"},"type":"incident","affectedComponents":[],"statuspages":[],"updates":[]},{"uuid":"inci_1YRbRAVhrZxjZI","date":"2026-02-09T09:22:19.000Z","title":{"en":"Localized Object Title"},"type":"outage","affectedComponents":[],"statuspages":[],"updates":[]},{"uuid":"inci_eZ9Vi7LmRCFoDm","date":"2026-02-09T09:22:19.000Z","title":{"en":"[v1.0.6-UPDATE-TEST] Modified Title"},"type":"incident","affectedComponents":[],"statuspages":[],"updates":[]},{"uuid":"inci_L2GzQDlfrnJSty","date":"2026-02-09T07:20:36.000Z","title":{"en":"Debug Test Incident"},"type":"incident","affectedComponents":[],"statuspages":[],"updates":[]}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"396-6FlH8v5LcPNdlxlO0k2XvRDAgTs"
            Ratelimit:
                - '"800-in-1hr"; r=784; t=3586'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 112.271527ms
    - id: 2
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/maintenance-windows
        method: GET
      response:
        body: '{"maintenanceWindows":[{"uuid":"mw_6LoGOMCZJVxJ50","bulkUuid":null,"name":"v106-test-no-notify","title":{"en":"[v1.0.6-TEST] No Notification"},"start_date":"2026-05-01T00:00:00.000Z","end_date":"2026-05-01T02:00:00.000Z","timezone":"UTC","monitors":["mon_MdnOEmCL1uSAoV"],"statuspages":[],"createdBy":"khaled.salhab@develeap.com","createdAt":"2026-02-09T09:22:19.000Z","updates":[],"status":"upcoming","createdByProfilePictureUrl":null,"createdBySsoPictureUrl":"https://lh3.googleusercontent.com/a/ACg8ocLzgtI6SJEZJN6p7raaA6iOLR0-DusNtdLQQ21gL7iWj5YxIP8=s96-c"},{"uuid":"mw_bYEpyak85qsW3l","bulkUuid":null,"name":"v106-test-multi","title":{"en":"[v1.0.6-TEST] Multi-Monitor Maintenance"},"start_date":"2026-04-15T02:00:00.000Z","end_date":"2026-04-15T06:00:00.000Z","timezone":"UTC","monitors":["mon_2HOnKnkou1tvAp","mon_HmAq69QRQdTh6N","mon_DaF7WQVRIpS2p0"],"statuspages":[],"createdBy":"khaled.salhab@develeap.com","createdAt":"2026-02-09T09:13:19.000Z","upda[...]
