---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages
        method: GET
      response:
        body: '{"statuspages":[{"uuid":"sp_test001","name":"Test Status Page","hostname":null,"hostedsubdomain":"test.hyperping.app","url":"https://test.hyperping.app","password_protected":false,"settings":{"name":"Test Status Page","website":"","description":{},"languages":["en"],"default_language":"en","theme":"light","font":"Inter","accent_color":"#36b27e","auto_refresh":true,"banner_header":false,"logo":null,"logo_height":"40px","favicon":null,"hide_powered_by":false,"hide_from_search_engines":false,"google_analytics":null,"subscribe":{"enabled":true,"email":true,"slack":false,"teams":false,"sms":false},"authentication":{"password_protection":false,"google_sso":false,"saml_sso":false,"google_allowed_domains":[]}},"sections":[]}],"hasNextPage":false,"total":1,"page":0,"resultsPerPage":20}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages/sp_test001/subscribers/999999
        method: DELETE
      response:
        body: '{"error":"Not found","message":"Subscriber not found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 80ms
