---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages
        method: GET
      response:
        body: '{"statuspages":[{"uuid":"sp_test001","name":"Test Status Page","hostname":null,"hostedsubdomain":"test.hyperping.app","url":"https://test.hyperping.app","password_protected":false,"settings":{"name":"Test Status Page","website":"","description":{},"languages":["en"],"default_language":"en","theme":"light","font":"Inter","accent_color":"#36b27e","auto_refresh":true,"banner_header":false,"logo":null,"logo_height":"40px","favicon":null,"hide_powered_by":false,"hide_from_search_engines":false,"google_analytics":null,"subscribe":{"enabled":true,"email":true,"slack":false,"teams":false,"sms":false},"authentication":{"password_protection":false,"google_sso":false,"saml_sso":false,"google_allowed_domains":[]}},"sections":[]}],"hasNextPage":false,"total":1,"page":0,"resultsPerPage":20}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        host: api.hyperping.io
        body: '{"type":"email","email":"test-contract@example.com"}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages/sp_test001/subscribers
        method: POST
      response:
        body: '{"message":"Subscriber added","subscriber":{"id":1001,"type":"email","value":"test-contract@example.com","language":"en","email":"test-contract@example.com","phone":null,"slack_channel":null,"created_at":"2026-02-10T10:00:00Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 150ms
    - id: 2
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages/sp_test001/subscribers/1001
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 100ms
