---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: '{"name":"VCR Multi Update Test","subdomain":"vcr-test-multi-update","languages":["en"]}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages
        method: POST
      response:
        body: '{"message":"Status page created","statuspage":{"uuid":"sp_multi001","name":"VCR Multi Update Test","hostname":null,"hostedsubdomain":"vcr-test-multi-update.hyperping.app","url":"https://vcr-test-multi-update.hyperping.app","password_protected":false,"settings":{"name":"VCR Multi Update Test","website":"","description":{},"languages":["en"],"default_language":"en","theme":"light","font":"Inter","accent_color":"#36b27e","auto_refresh":false,"banner_header":false,"logo":null,"logo_height":"40px","favicon":null,"hide_powered_by":false,"hide_from_search_engines":false,"google_analytics":null,"subscribe":{"enabled":true,"email":true,"slack":false,"teams":false,"sms":false},"authentication":{"password_protection":false,"google_sso":false,"saml_sso":false,"google_allowed_domains":[]}},"sections":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 200ms
    - id: 1
      request:
        host: api.hyperping.io
        body: '{"name":"VCR Multi Updated","website":"https://example.com","theme":"dark","accent_color":"#ff5733","auto_refresh":true}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages/sp_multi001
        method: PUT
      response:
        body: '{"message":"Status page updated","statuspage":{"uuid":"sp_multi001","name":"VCR Multi Updated","hostname":null,"hostedsubdomain":"vcr-test-multi-update.hyperping.app","url":"https://vcr-test-multi-update.hyperping.app","password_protected":false,"settings":{"name":"VCR Multi Updated","website":"https://example.com","description":{},"languages":["en"],"default_language":"en","theme":"dark","font":"Inter","accent_color":"#ff5733","auto_refresh":true,"banner_header":false,"logo":null,"logo_height":"40px","favicon":null,"hide_powered_by":false,"hide_from_search_engines":false,"google_analytics":null,"subscribe":{"enabled":true,"email":true,"slack":false,"teams":false,"sms":false},"authentication":{"password_protection":false,"google_sso":false,"saml_sso":false,"google_allowed_domains":[]}},"sections":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 150ms
[...]
