---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-healthcheck-list","period_value":60,"period_type":"seconds","grace_period_value":300,"grace_period_type":"seconds"}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/healthchecks
        method: POST
      response:
        body: '{"message":"Healthcheck created","healthcheck":{"uuid":"tok_QFWj4uUKQfOz5KDZRbkPKJUh","name":"vcr-test-healthcheck-list","pingUrl":"https://hc.hyperping.io/tok_QFWj4uUKQfOz5KDZRbkPKJUh","period":60,"periodValue":60,"periodType":"seconds","gracePeriod":300,"gracePeriodValue":300,"gracePeriodType":"seconds","cron":null,"timezone":"UTC"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"151-YzDa/uD/vteVyqXE9zSsqqZb1js"
            Ratelimit:
                - '"800-in-1hr"; r=787; t=3522'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 201 Created
        code: 201
        duration: 250.121566ms
    - id: 1
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/healthchecks
        method: GET
      response:
        body: '{"healthchecks":[{"uuid":"tok_QFWj4uUKQfOz5KDZRbkPKJUh","name":"vcr-test-healthcheck-list","cron":null,"tz":"UTC","slug":null,"period":60,"periodValue":60,"periodType":"seconds","gracePeriod":300,"gracePeriodValue":300,"gracePeriodType":"seconds","createdAt":"2026-02-10T11:51:34.000Z","lastPing":null,"dueDate":null,"isDown":false,"pingUrl":"https://hc.hyperping.io/tok_QFWj4uUKQfOz5KDZRbkPKJUh","lastLogStartDate":null,"lastLogEndDate":null},{"uuid":"tok_Vk4XXIxoylSePjr5VPpSezHh","name":"vcr-test-healthcheck-updated","cron":null,"tz":"UTC","slug":null,"period":60,"periodValue":60,"periodType":"seconds","gracePeriod":300,"gracePeriodValue":300,"gracePeriodType":"seconds","createdAt":"2026-02-10T11:50:15.000Z","lastPing":null,"dueDate":null,"isDown":false,"pingUrl":"https://hc.hyperping.io/tok_Vk4XXIxoylSePjr5VPpSezHh","lastLogStartDate":null,"lastLogEndDate":null},{"uuid":"tok_hy4GCxOqbwahr4ctj0cNOIIp","name":"vcr-test-healthcheck","cron":null,"tz":"UTC","slug":null,"period":60,"periodValue":60,"periodType":"seconds","gracePeriod":300,"gracePeriodValue":300,"gracePeriodType":"seconds","createdAt":"2026-02-09T10:11:32.000Z","lastPing":null,"dueDate":null,"isDown":false,"pingUrl":"https://hc.hyperping.io/tok_hy4GCxOqbwahr4ctj0cNOIIp","lastLogStartDate":null,"lastLogEndDate":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"511-2PHD1XCsSabFBTiYkg9BaWaK7Jc"
            Ratelimit:
                - '"800-in-1hr"; r=786; t=3522'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 103.716034ms
    - id: 2
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/healthchecks/tok_QFWj4uUKQfOz5KDZRbkPKJUh
        method: DELETE
      response:
        body: '{"message":"Healthcheck deleted"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"21-Df3nAZRmtRbyOYsibEtdhZF++eU"
            Ratelimit:
                - '"800-in-1hr"; r=785; t=3522'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 108.932999ms
