---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-healthcheck","period_value":60,"period_type":"seconds","grace_period_value":300,"grace_period_type":"seconds"}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/healthchecks
        method: POST
      response:
        body: '{"message":"Healthcheck created","healthcheck":{"uuid":"tok_lv6jgClBfBqlNKjZyWZFbthr","name":"vcr-test-healthcheck","pingUrl":"https://hc.hyperping.io/tok_lv6jgClBfBqlNKjZyWZFbthr","period":60,"periodValue":60,"periodType":"seconds","gracePeriod":300,"gracePeriodValue":300,"gracePeriodType":"seconds","cron":null,"timezone":"UTC"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"14c-XXvVyUPl1KgqlXzcDPG3zET2xJA"
            Ratelimit:
                - '"800-in-1hr"; r=799; t=3600'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 201 Created
        code: 201
        duration: 379.579432ms
    - id: 1
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/healthchecks/tok_lv6jgClBfBqlNKjZyWZFbthr
        method: GET
      response:
        body: '{"healthcheck":{"uuid":"tok_lv6jgClBfBqlNKjZyWZFbthr","name":"vcr-test-healthcheck","cron":null,"tz":"UTC","slug":null,"period":60,"periodValue":60,"periodType":"seconds","gracePeriod":300,"gracePeriodValue":300,"gracePeriodType":"seconds","createdAt":"2026-02-10T04:54:30.000Z","lastPing":null,"lastDowntime":null,"dueDate":null,"isDown":false,"pingUrl":"https://hc.hyperping.io/tok_lv6jgClBfBqlNKjZyWZFbthr","logs":[],"escalationPolicy":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1bd-5q1Ymuc5Q02EH1IfqeZ4BnbWDTo"
            Ratelimit:
                - '"800-in-1hr"; r=798; t=3600'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 114.727912ms
[...]
