---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-healthcheck","period_value":60,"period_type":"seconds","grace_period_value":300,"grace_period_type":"seconds"}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/healthchecks
        method: POST
      response:
        body: '{"message":"Healthcheck created","healthcheck":{"uuid":"tok_YNTf6pBOYHNWqKNZWCQlakWV","name":"vcr-test-healthcheck","pingUrl":"https://hc.hyperping.io/tok_YNTf6pBOYHNWqKNZWCQlakWV","period":60,"periodValue":60,"periodType":"seconds","gracePeriod":300,"gracePeriodValue":300,"gracePeriodType":"seconds","cron":null,"timezone":"UTC"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"14c-2nxX9OCtn134wYbzYF9WaUUFYC4"
            Ratelimit:
                - '"800-in-1hr"; r=792; t=3550'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 201 Created
        code: 201
        duration: 243.851194ms
    - id: 1
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/healthchecks/tok_YNTf6pBOYHNWqKNZWCQlakWV
        method: GET
      response:
        body: '{"healthcheck":{"uuid":"tok_YNTf6pBOYHNWqKNZWCQlakWV","name":"vcr-test-healthcheck","cron":null,"tz":"UTC","slug":null,"period":60,"periodValue":60,"periodType":"seconds","gracePeriod":300,"gracePeriodValue":300,"gracePeriodType":"seconds","createdAt":"2026-02-10T11:51:05.000Z","lastPing":null,"lastDowntime":null,"dueDate":null,"isDown":false,"pingUrl":"https://hc.hyperping.io/tok_YNTf6pBOYHNWqKNZWCQlakWV","logs":[],"escalationPolicy":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1bd-y3CpOzM63/3d7zPLbSRdAb9Z/XY"
            Ratelimit:
                - '"800-in-1hr"; r=791; t=3550'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 109.545342ms
[...]
