---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/healthchecks
        method: GET
      response:
        body: '{"healthchecks":[{"uuid":"tok_hy4GCxOqbwahr4ctj0cNOIIp","name":"vcr-test-healthcheck","cron":null,"tz":"UTC","slug":null,"period":60,"periodValue":60,"periodType":"seconds","gracePeriod":300,"gracePeriodValue":300,"gracePeriodType":"seconds","createdAt":"2026-02-09T10:11:32.000Z","lastPing":null,"dueDate":null,"isDown":false,"pingUrl":"https://hc.hyperping.io/tok_hy4GCxOqbwahr4ctj0cNOIIp","lastLogStartDate":null,"lastLogEndDate":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1b8-70O9BgcaxiUgQMkI8ITJrTf9PxI"
            Ratelimit:
                - '"800-in-1hr"; r=794; t=3542'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 260.959838ms
