---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v3/incidents
        method: GET
      response:
        body: '[{"uuid":"inci_JrzGlF1frfsJiH","date":"2026-02-09T09:22:19.000Z","title":{"en":"[v1.0.6-TEST] Incident with Dependencies"},"type":"incident","affectedComponents":[],"statuspages":[],"updates":[]},{"uuid":"inci_bp0jxKyQBBeVaf","date":"2026-02-09T09:22:19.000Z","title":{"en":"[v1.0.6-TEST] Basic Incident"},"type":"incident","affectedComponents":[],"statuspages":[],"updates":[]},{"uuid":"inci_1YRbRAVhrZxjZI","date":"2026-02-09T09:22:19.000Z","title":{"en":"Localized Object Title"},"type":"outage","affectedComponents":[],"statuspages":[],"updates":[]},{"uuid":"inci_eZ9Vi7LmRCFoDm","date":"2026-02-09T09:22:19.000Z","title":{"en":"[v1.0.6-UPDATE-TEST] Modified Title"},"type":"incident","affectedComponents":[],"statuspages":[],"updates":[]},{"uuid":"inci_L2GzQDlfrnJSty","date":"2026-02-09T07:20:36.000Z","title":{"en":"Debug Test Incident"},"type":"incident","affectedComponents":[],"statuspages":[],"updates":[]}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"396-6FlH8v5LcPNdlxlO0k2XvRDAgTs"
            Ratelimit:
                - '"800-in-1hr"; r=782; t=3586'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 111.607022ms
