---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors
        method: GET
      response:
        body: '[{"id":115746,"name":"test-monitor","url":"https://httpstat.us/200","uuid":"mon_u4caULGi4rO2XR","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london"],"check_frequency":60,"follow_redirects":true,"expected_status_code":"2xx","request_body":"","request_headers":null,"status":"up","ssl_expiration":32,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1c8-jJH3w/Bg/q6uHoGF68uLifXnWyc"
            Ratelimit:
                - '"800-in-1hr"; r=787; t=2638'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 190.486832ms
    - id: 1
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-maintenance","title":{"en":"VCR Test Maintenance Window"},"text":{"en":"This is a test maintenance window created by contract tests"},"start_date":"2026-02-06T07:42:16Z","end_date":"2026-02-06T09:42:16Z","monitors":["mon_u4caULGi4rO2XR"]}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/maintenance-windows
        method: POST
      response:
        body: '{"uuid":"mw_Hk9sxlWbSePrMd"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1c-8+tl7Faq8yQM5m553FsX5xj8Mz0"
            Ratelimit:
                - '"800-in-1hr"; r=786; t=2638'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 201 Created
        code: 201
        duration: 118.417675ms
    - id: 2
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/maintenance-windows/mw_Hk9sxlWbSePrMd
        method: GET
      response:
        body: '{"uuid":"mw_Hk9sxlWbSePrMd","name":"vcr-test-maintenance","title":{"en":"VCR Test Maintenance Window"},"start_date":"2026-02-06T07:42:16.000Z","end_date":"2026-02-06T09:42:16.000Z","timezone":"UTC","monitors":["mon_u4caULGi4rO2XR"],"statuspages":[],"bulkUuid":null,"createdBy":"khaled.salhab@develeap.com","createdAt":"2026-02-05T07:42:16.000Z","notificationOption":"none","notificationMinutes":60,"updates":[],"createdByProfilePictureUrl":null,"createdBySsoPictureUrl":"https://lh3.googleusercontent.com/a/ACg8ocLzgtI6SJEZJN6p7raaA6iOLR0-DusNtdLQQ21gL7iWj5YxIP8=s96-c","scheduledNotificationStatus":null,"scheduledNotificationSentAt":null,"scheduledNotificationBreakdown":null,"status":"upcoming"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2ba-m78bIuzdtJFIziwPZiR5hOrTopk"
            Ratelimit:
                - '"800-in-1hr"; r=785; t=2638'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 121.635007ms
[...]
    - id: 4
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/maintenance-windows/mw_Hk9sxlWbSePrMd
        method: DELETE
      response:
        body: '{"message":"Ok"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"10-/joFRKz/gr6105uVVzyNqD3EVJg"
            Ratelimit:
                - '"800-in-1hr"; r=783; t=2636'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 190.955839ms
