---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors
        method: GET
      response:
        body: '[{"id":115746,"name":"test-monitor","url":"https://httpstat.us/200","uuid":"mon_u4caULGi4rO2XR","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london"],"check_frequency":60,"follow_redirects":true,"expected_status_code":"2xx","request_body":"","request_headers":null,"status":"up","ssl_expiration":27,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null},{"id":115934,"name":"[TEST]-StatusPage-Monitor","url":"https://httpstat.us/200","uuid":"mon_fkvswafYt2nOG6","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":false,"port":null,"http_method":"GET","regions":["frankfurt","california","saopaulo","paris","mumbai","seoul","london","toronto","sydney","tokyo","singapore","bahrain","amsterdam","virginia","nyc","sanfrancisco","capetown","bangalore"],"check_frequency":60,"follow_redirects":true,"expected_status_code":"2xx","request_body":"","request_headers":null,"status":"down","ssl_expiration":-20494,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null},{"id":115935,"name":"[PROD]-Database-Health","url":"https://api.example.com/internal/db-health","uuid":"mon_HVL4JwlAh2LBH4","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":false,"port":null,"http_method":"POST","regions":["london","frankfurt"],"check_frequency":60,"follow_redirects":true,"expected_status_code":200,"request_body":"{\"check_type\":\"connection_pool\",\"timeout\":5}","request_headers":[{"name":"Content-Type","value":"application/json"},{"name":"X-Internal-Token","value":"internal-check-token"}],"status":"down","ssl_expiration":-20494,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null},{"id":115936,"name":"[STAGING]-API-Health","url":"https://staging-api.example.com/health","uuid":"mon_GcJl8vygAB0O8n","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":false,"port":null,"http_method":"GET","regions":["london"],"check_frequency":300,"follow_redirects":true,"exp[...]
    - id: 1
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-maintenance","title":{"en":"VCR Test Maintenance Window"},"text":{"en":"This is a test maintenance window"},"start_date":"2026-02-11T05:39:24Z","end_date":"2026-02-11T07:39:24Z","monitors":["mon_u4caULGi4rO2XR"]}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/maintenance-windows
        method: POST
      response:
        body: '{"uuid":"mw_qlpuMehyUxg5Bz"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1c-J/D1sXER8La/GQQ2L90stqeu6fo"
            Ratelimit:
                - '"800-in-1hr"; r=779; t=906'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 201 Created
        code: 201
        duration: 113.770435ms
    - id: 2
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/maintenance-windows/mw_qlpuMehyUxg5Bz
        method: GET
      response:
        body: '{"uuid":"mw_qlpuMehyUxg5Bz","name":"vcr-test-maintenance","title":{"en":"VCR Test Maintenance Window"},"start_date":"2026-02-11T05:39:24.000Z","end_date":"2026-02-11T07:39:24.000Z","timezone":"UTC","monitors":["mon_u4caULGi4rO2XR"],"statuspages":[],"bulkUuid":null,"createdBy":"khaled.salhab@develeap.com","createdAt":"2026-02-10T05:39:25.000Z","notificationOption":"none","notificationMinutes":60,"updates":[],"createdByProfilePictureUrl":null,"createdBySsoPictureUrl":"https://lh3.googleusercontent.com/a/ACg8ocLzgtI6SJEZJN6p7raaA6iOLR0-DusNtdLQQ21gL7iWj5YxIP8=s96-c","scheduledNotificationStatus":null,"scheduledNotificationSentAt":null,"scheduledNotificationBreakdown":null,"status":"upcoming"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2ba-rUPYRr1bDxiIQCwr67q6tntVAb0"
            Ratelimit:
                - '"800-in-1hr"; r=778; t=906'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 107.198433ms
[...]
    - id: 5
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/maintenance-windows/mw_qlpuMehyUxg5Bz
        method: DELETE
      response:
        body: '{"message":"Ok"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"10-/joFRKz/gr6105uVVzyNqD3EVJg"
            Ratelimit:
                - '"800-in-1hr"; r=775; t=905'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 188.168664ms
