---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-monitor","url":"https://httpstat.us/200","protocol":"http","http_method":"GET","check_frequency":60,"regions":["london","frankfurt"],"follow_redirects":true,"expected_status_code":"200","paused":true}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors
        method: POST
      response:
        body: '{"id":115747,"name":"vcr-test-monitor","url":"https://httpstat.us/200","uuid":"mon_xAzxib8dVHbQxy","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london","frankfurt"],"check_frequency":60,"follow_redirects":true,"expected_status_code":200,"request_body":"","request_headers":null,"status":"up","ssl_expiration":32,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1d4-xUnws1SJLJcW3jVmO7sTpWi6oZk"
            Ratelimit:
                - '"800-in-1hr"; r=797; t=3564'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 201 Created
        code: 201
        duration: 924.520054ms
    - id: 1
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors/mon_xAzxib8dVHbQxy
        method: GET
      response:
        body: '{"id":115747,"name":"vcr-test-monitor","url":"https://httpstat.us/200","uuid":"mon_xAzxib8dVHbQxy","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london","frankfurt"],"check_frequency":60,"follow_redirects":true,"expected_status_code":200,"request_body":"","request_headers":null,"status":"up","ssl_expiration":32,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1d4-xUnws1SJLJcW3jVmO7sTpWi6oZk"
            Ratelimit:
                - '"800-in-1hr"; r=796; t=3564'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 125.394418ms
[...]
