---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: '{"name":"vcr-test-invalid","url":"not-a-valid-url","protocol":"http","http_method":"GET","check_frequency":60,"regions":["london"],"expected_status_code":"200"}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors
        method: POST
      response:
        body: '{"message":"Invalid URL"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"19-fBz2jDy9mEvwjAFkq/mpaHY75hE"
            Ratelimit:
                - '"800-in-1hr"; r=762; t=3577'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 422 Unprocessable Entity
        code: 422
        duration: 139.869211ms
