---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v1/monitors
        method: GET
      response:
        body: '[{"id":115746,"name":"test-monitor","url":"https://httpstat.us/200","uuid":"mon_u4caULGi4rO2XR","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":true,"port":null,"http_method":"GET","regions":["london"],"check_frequency":60,"follow_redirects":true,"expected_status_code":"2xx","request_body":"","request_headers":null,"status":"up","ssl_expiration":27,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null},{"id":115934,"name":"[TEST]-StatusPage-Monitor","url":"https://httpstat.us/200","uuid":"mon_fkvswafYt2nOG6","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":false,"port":null,"http_method":"GET","regions":["frankfurt","california","saopaulo","paris","mumbai","seoul","london","toronto","sydney","tokyo","singapore","bahrain","amsterdam","virginia","nyc","sanfrancisco","capetown","bangalore"],"check_frequency":60,"follow_redirects":true,"expected_status_code":"2xx","request_body":"","request_headers":null,"status":"down","ssl_expiration":-20494,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null},{"id":115935,"name":"[PROD]-Database-Health","url":"https://api.example.com/internal/db-health","uuid":"mon_HVL4JwlAh2LBH4","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":false,"port":null,"http_method":"POST","regions":["london","frankfurt"],"check_frequency":60,"follow_redirects":true,"expected_status_code":200,"request_body":"{\"check_type\":\"connection_pool\",\"timeout\":5}","request_headers":[{"name":"Content-Type","value":"application/json"},{"name":"X-Internal-Token","value":"internal-check-token"}],"status":"down","ssl_expiration":-20494,"alerts_wait":0,"group_id":null,"sort_order":0,"show_url":false,"escalation_policy":null},{"id":115936,"name":"[STAGING]-API-Health","url":"https://staging-api.example.com/health","uuid":"mon_GcJl8vygAB0O8n","protocol":"http","projectUuid":"proj_pPheL3Vn01uYjq","paused":false,"port":null,"http_method":"GET","regions":["london"],"check_frequency":300,"follow_redirects":true,"exp[...]
    - id: 1
      request:
        host: api.hyperping.io
        body: '{"monitorUuid":"mon_u4caULGi4rO2XR","startDate":"2026-02-09T10:49:00Z","endDate":"2026-02-09T11:49:00Z","statusCode":500,"description":"Manual outage for contract testing","outageType":"manual"}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/outages
        method: POST
      response:
        body: '{"message":"Incident created","outage":{"uuid":"outage_EJYxWB9zoWF9Dh","startDate":"2026-02-10T10:49:00.638Z","description":"Manual outage for contract testing","escalationPolicyUuid":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"be-2KS1XOaeMq3kUYvb5Ymu6bQOTow"
            Ratelimit:
                - '"800-in-1hr"; r=752; t=3574'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 201 Created
        code: 201
        duration: 151.49784ms
    - id: 2
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/outages/outage_EJYxWB9zoWF9Dh
        method: GET
      response:
        body: '{"outage":{"id":4587583,"uuid":"outage_EJYxWB9zoWF9Dh","startDate":"2026-02-10T10:49:01.000Z","endDate":null,"durationMs":-164,"statusCode":0,"description":"Manual outage for contract testing","isResolved":false,"detectedLocation":"manual","confirmedLocations":"","protocol":"manual","errorHeader":null,"acknowledgedAt":null,"acknowledgedBy":null,"monitor":{"uuid":null,"name":"Manual outage for contract testing","url":null,"protocol":"manual"},"escalationPolicy":null,"alertedChannels":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1ec-lmfIAGKmzXgVfamveylmpYaSJP0"
            Ratelimit:
                - '"800-in-1hr"; r=751; t=3574'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 199.11288ms
[...]
