---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/outages
        method: GET
      response:
        body: '{"outages":[{"id":4584863,"uuid":"outage_nqZWRijx1VQEQg","startDate":"2026-02-09T09:21:07.000Z","endDate":null,"durationMs":3085543,"statusCode":500,"description":"Internal Server Error","isResolved":false,"detectedLocation":"singapore","confirmedLocations":"singapore","protocol":"http","acknowledgedAt":null,"acknowledgedBy":null,"monitor":{"uuid":"mon_MdnOEmCL1uSAoV","name":"[v1.0.6-TEST]-DELETE-Method","url":"https://httpstat.us/200","protocol":"http"},"escalationPolicy":null},{"id":4584857,"uuid":"outage_MHUteUbjkT1Rnh","startDate":"2026-02-09T09:18:14.000Z","endDate":null,"durationMs":3258543,"statusCode":500,"description":"Internal Server Error","isResolved":false,"detectedLocation":"virginia","confirmedLocations":"virginia,virginia","protocol":"http","acknowledgedAt":null,"acknowledgedBy":null,"monitor":{"uuid":"mon_DaF7WQVRIpS2p0","name":"[v1.0.6-TEST]-PUT-Method","url":"https://httpstat.us/200","protocol":"http"},"escalationPolicy":null},{"id":4584855,"uui[...]
