---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/outages
        method: GET
      response:
        body: '{"outages":[{"id":4584959,"uuid":"outage_fdC0bYicSVABzW","startDate":"2026-02-09T10:14:18.000Z","endDate":null,"durationMs":88483164,"statusCode":0,"description":"Manual outage for contract testing","isResolved":false,"detectedLocation":"manual","confirmedLocations":"","protocol":"manual","acknowledgedAt":null,"acknowledgedBy":null,"monitor":{"uuid":null,"name":null,"url":null,"protocol":null},"escalationPolicy":null},{"id":4584863,"uuid":"outage_nqZWRijx1VQEQg","startDate":"2026-02-09T09:21:07.000Z","endDate":null,"durationMs":91674164,"statusCode":500,"description":"Internal Server Error","isResolved":false,"detectedLocation":"singapore","confirmedLocations":"singapore","protocol":"http","acknowledgedAt":null,"acknowledgedBy":null,"monitor":{"uuid":"mon_MdnOEmCL1uSAoV","name":"[v1.0.6-TEST]-DELETE-Method","url":"https://httpstat.us/200","protocol":"http"},"escalationPolicy":null},{"id":4584857,"uuid":[...]
