---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/reporting/monitor-reports?from=2026-02-03T05%3A36%3A12Z&to=2026-02-10T05%3A36%3A12Z
        method: GET
      response:
        body: '{"period":{"from":"2026-02-03T05:36:12.000Z","to":"2026-02-10T05:36:12.000Z"},"monitors":[{"uuid":"mon_fkvswafYt2nOG6","name":"[TEST]-StatusPage-Monitor","protocol":"http","sla":85.254,"outages":{"count":1,"totalDowntime":107956,"totalDowntimeFormatted":"1d 5hr 59min 16s","longestOutage":107956,"longestOutageFormatted":"1d 5hr 59min 16s"},"mttr":0,"mttrFormatted":"0s"},{"uuid":"mon_HVL4JwlAh2LBH4","name":"[PROD]-Database-Health","protocol":"http","sla":85.344,"outages":{"count":1,"totalDowntime":107414,"totalDowntimeFormatted":"1d 5hr 50min 14s","longestOutage":107414,"longestOutageFormatted":"1d 5hr 50min 14s"},"mttr":0,"mttrFormatted":"0s"},{"uuid":"mon_GcJl8vygAB0O8n","name":"[STAGING]-API-Health","protocol":"http","sla":85.337,"outages":{"count":1,"totalDowntime":107453,"totalDowntimeFormatted":"1d 5hr 50min 53s","longestOutage":107453,"longestOutage[...]
