---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages
        method: GET
      response:
        body: '{"statuspages":[],"hasNextPage":false,"total":0,"page":0,"resultsPerPage":20}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"4d-OMLuqRp5mCIAWzFd5YCfjcewp6I"
            Ratelimit:
                - '"800-in-1hr"; r=780; t=1880'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 399.016643ms
