---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: '{"name":"VCR Test Status Page","subdomain":"vcr-test-20260205095502","languages":["en"]}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages
        method: POST
      response:
        body: '{"message":"Status page created","statuspage":{"uuid":"sp_ide5MNPlpQBQgV","name":"VCR Test Status Page","hostname":null,"hostedsubdomain":"vcr-test-20260205095502.hyperping.app","url":"vcr-test-20260205095502.hyperping.app","password_protected":false,"settings":{"name":"VCR Test Status Page","website":"","description":{"en":"","fr":"","de":"","ru":"","nl":""},"languages":["en"],"default_language":"en","theme":"system","font":"Inter","accent_color":"#36b27e","auto_refresh":false,"banner_header":true,"logo":null,"logo_height":"32px","favicon":null,"hide_powered_by":false,"hide_from_search_engines":false,"google_analytics":null,"subscribe":{"enabled":true,"email":true,"slack":false,"teams":false,"sms":false},"authentication":{"password_protection":false,"google_sso":false,"google_allowed_domains":[],"saml_sso":false,"sso_connection_uuid":null,"sso_connection":null}},"sections":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"37b-+P9MNbQ4Q3xgoIaNB4ev4eil6+0"
            Ratelimit:
                - '"800-in-1hr"; r=779; t=1872'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 201 Created
        code: 201
        duration: 883.578808ms
    - id: 1
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages/sp_ide5MNPlpQBQgV
        method: GET
      response:
        body: '{"statuspage":{"uuid":"sp_ide5MNPlpQBQgV","name":"VCR Test Status Page","hostname":null,"hostedsubdomain":"vcr-test-20260205095502.hyperping.app","[...]
[...]
