---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages
        method: GET
      response:
        body: '{"statuspages":[{"uuid":"sp_6crHEAwIwKkdOl","name":"v1.0.6 Test Multi Section","hostname":null,"hostedsubdomain":"v106-multi-202602090922.hyperping.app","url":"v106-multi-202602090922.hyperping.app","password_protected":false},{"uuid":"sp_vBrPnrF6UYYl33","name":"v1.0.6 Settings Test","hostname":null,"hostedsubdomain":"v106-settings-202602090922.hyperping.app","url":"v106-settings-202602090922.hyperping.app","password_protected":false},{"uuid":"sp_pzQj1Nhw4qDLiA","name":"v1.0.6 Test Single Section","hostname":null,"hostedsubdomain":"v106-single-202602090922.hyperping.app","url":"v106-single-202602090922.hyperping.app","password_protected":false},{"uuid":"sp_az5p8hHthiO5Na","name":"v1.0.4 Test Status Page","hostname":null,"hostedsubdomain":"v104-test-20260209071018.hyperping.app","url":"v104-test-20260209071018.hyperping.app","password_protected":false},{"uuid":"sp_o5fvNkgLhyiu7g","name":"TechStart Service Status","hostname":null,"hostedsubdomain":"techstart-status.hyperping.app","url":"techstart-status.hyperping.app","password_protected":false},{"uuid":"sp_n6Lq1xAXWNJ7ne","name":"Test Status Page","hostname":null,"hostedsubdomain":"test-terraform-20260209044851.hyperping.app","url":"test-terraform-20260209044851.hyperping.app","password_protected":false}],"hasNextPage":false,"total":6,"page":0,"resultsPerPage":20}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"536-q1wq6JFjxb89L6LEsN1q2+nqIb0"
            Ratelimit:
                - '"800-in-1hr"; r=738; t=3566'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 129.601105ms
    - id: 1
      request:
        host: api.hyperping.io
        body: '{"type":"email","email":"test-subscriber@example.com"}'
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages/sp_6crHEAwIwKkdOl/subscribers
        method: POST
      response:
        body: '{"message":"Subscriber added","subscriber":{"id":17705,"type":"email","email":"test-subscriber@example.com","phone":null,"teams_webhook_url":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"93-628qIasRfhbbnOZdTg769qBVWgI"
            Ratelimit:
                - '"800-in-1hr"; r=737; t=3566'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 201 Created
        code: 201
        duration: 115.447123ms
    - id: 2
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages/sp_6crHEAwIwKkdOl/subscribers
        method: GET
      response:
        body: '{"subscribers":[{"id":17705,"type":"email","value":"test-subscriber@example.com","email":"test-subscriber@example.com","phone":null,"slack_channel":null,"created_at":"2026-02-10T10:49:09.000Z"}],"hasNextPage":false,"total":1,"page":0,"resultsPerPage":20}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fe-7ZZN93YOGZsH/XjIv1z1iLEbEjc"
            Ratelimit:
                - '"800-in-1hr"; r=736; t=3565'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 100.603948ms
    - id: 3
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages/sp_6crHEAwIwKkdOl/subscribers/17705
        method: DELETE
      response:
        body: '{"message":"Subscriber deleted"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"20-bQnE7a6koiQmrjIBRAr6kNm8X0o"
            Ratelimit:
                - '"800-in-1hr"; r=735; t=3565'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 109.095054ms
