---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages?page=1
        method: GET
      response:
        body: '{"statuspages":[],"hasNextPage":false,"total":6,"page":1,"resultsPerPage":20}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"4d-G6zMxlFbYUpOH/PQBocyPVae3G0"
            Ratelimit:
                - '"800-in-1hr"; r=734; t=3565'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 142.852699ms
