---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperping.io
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer [MASKED]
            Content-Type:
                - application/json
        url: https://api.hyperping.io/v2/statuspages
        method: GET
      response:
        body: '{"statuspages":[{"uuid":"sp_6crHEAwIwKkdOl","name":"v1.0.6 Test Multi Section","hostname":null,"hostedsubdomain":"v106-multi-202602090922.hyperping.app","url":"v106-multi-202602090922.hyperping.app","password_protected":false},{"uuid":"sp_vBrPnrF6UYYl33","name":"v1.0.6 Settings Test","hostname":null,"hostedsubdomain":"v106-settings-202602090922.hyperping.app","url":"v106-settings-202602090922.hyperping.app","password_protected":false},{"uuid":"sp_pzQj1Nhw4qDLiA","name":"v1.0.6 Test Single Section","hostname":null,"hostedsubdomain":"v106-single-202602090922.hyperping.app","url":"v106-single-202602090922.hyperping.app","password_protected":false},{"uuid":"sp_az5p8hHthiO5Na","name":"v1.0.4 Test Status Page","hostname":null,"hostedsubdomain":"v104-test-20260209071018.hyperping.app","url":"v104-test-20260209071018.hyperping.app","password_protected":false},{"uuid":"sp_o5fvNkgLhyiu7g","name":"TechStart Service Status","hostname":null,"hostedsubdomain":"techstart-status.hyperping.app","url":"techstart-status.hyperping.app","password_protected":false},{"uuid":"sp_n6Lq1xAXWNJ7ne","name":"Test Status Page","hostname":null,"hostedsubdomain":"test-terraform-20260209044851.hyperping.app","url":"test-terraform-20260209044851.hyperping.app","password_protected":false}],"hasNextPage":false,"total":6,"page":0,"resultsPerPage":20}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"536-q1wq6JFjxb89L6LEsN1q2+nqIb0"
            Ratelimit:
                - '"800-in-1hr"; r=745; t=3570'
            Ratelimit-Policy:
                - '"800-in-1hr"; q=800; w=3600; pk=:MGMzN2I2ZTVmZGY2:'
        status: 200 OK
        code: 200
        duration: 121.921433ms
